@page "{length:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to File Name Generator</h1>

    <form method="get">
        <input type="number" name="length" placeholder="Enter length" min="1"/>
        <button class="btn btn-primary" type="submit">Згенерувати</button>
    </form>

    <p>File name: <span class="font-weight-bold">@Model.GeneratedFileName</span></p>
</div>
