@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <input type="number" id="fileNameLength" placeholder="File length" min="1" />
    <button class="btn btn-primary" onclick="generateFileName()">Generate</button>

    <p>File name: <span id="generatedFileName" class="font-weight-bold"></span></p>
</div>

@section Scripts {
    <script>
        function generateFileName() {
            const length = parseInt(document.getElementById('fileNameLength').value, 10);
            if (length > 0) {
                const allowedChars = "abcdefghijklmnopqrstuvwxyz0123456789";
                let fileName = '';

                for (let i = 0; i < length; i++) {
                    const randomIndex = Math.floor(Math.random() * allowedChars.length);
                    fileName += allowedChars[randomIndex];
                }

                document.getElementById('generatedFileName').textContent = fileName;
            } else {
                alert('Enter correct length!');
            }
        }
    </script>
}
